<div class="py-5"><div class="card" [class.bg-dark]="item" [class.text-light]="item" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">profile</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"[class.bg-dark]="item" [class.text-light]="item">An item</li>
      <li class="list-group-item"[class.bg-dark]="item" [class.text-light]="item">A second item</li>
      <li class="list-group-item"[class.bg-dark]="item" [class.text-light]="item">A third item</li>
    </ul>
 
  </div></div>
  